Repository FinOps-Open-Cost-and-Usage-Spec/FOCUS_Spec, pull requests merged in 2023-11, with the labels that each got.

#173 FOCUS #151: Commitment Discount Category
  specification/dimensions/commitmentdiscountcategory.md
  specification/dimensions/commitmentdiscountid.md
  specification/dimensions/commitmentdiscountname.md
  specification/dimensions/dimensions.mdpp
  supporting_content/dimensions/commitmentdiscountcategory.md
Labels: spec change, Stage 3: Member review, Squad: 2

#233 FOCUS #232: BilledCost metric review
  specification/metrics/billedcost.md
  specification/metrics/metrics.mdpp
  supporting_content/metrics/billedcost.md
Labels: spec change, Stage 3: Member review, Squad: 1

#247 Corrections on some typographic conventions
  specification/dimensions/billingaccountid.md
  specification/dimensions/billingcurrency.md
  specification/dimensions/commitmentdiscountid.md
  specification/dimensions/commitmentdiscountname.md
Labels: spec change, repo maintenance, Stage 2: Maintainer review, Squad: 2

#227 Add Tags dimension
  specification/dimensions/dimensions.mdpp
  specification/dimensions/tags.md
  supporting_content/dimensions/tags.md
Labels: spec change, Stage 3: Member review, Squad: 4

#221 Add Charge Description dimension
  specification/dimensions/chargedescription.md
  specification/dimensions/dimensions.mdpp
  supporting_content/dimensions/chargedescription.md
Labels: spec change, Stage 3: Member review, Squad: 4

#250 FOCUS #249: EffectiveCost review
  specification/metrics/billedcost.md
  specification/metrics/effectivecost.md
  supporting_content/metrics/effectivecost.md
Labels: spec change, Stage 3: Member review, Squad: 1

#248 Clean up random uses of "record"
  specification/dimensions/billingperiodend.md
  specification/dimensions/billingperiodstart.md
  specification/dimensions/chargetype.md
  specification/metrics/effectivecost.md
  supporting_content/appendix/quantity_driven_pricing_strategies.md
  supporting_content/attributes/null_handling.md
  supporting_content/dimensions/chargefrequency.md
  supporting_content/dimensions/chargeperiod.md
  supporting_content/dimensions/commitmentdiscountid.md
  supporting_content/dimensions/publisher.md
  supporting_content/metrics/billedcost.md
  supporting_content/metrics/effectivecost.md
  supporting_content/metrics/listunitprice.md
Labels: spec change, Stage 3: Member review, Squad: 2

#256 Cleanups and fixes
  README.md
  spec-development-workflow.md
  supporting_content/attributes/null_handling.md
  supporting_content/dimensions/billingperiodend.md
  supporting_content/metrics/listunitprice.md
Labels: repo maintenance, Stage 3: Member review, comments resolved

#192 FOCUS #190: Numeric Format Attribute
  specification/attributes/attributes.mdpp
  specification/attributes/column_naming_convention.md
  specification/attributes/currency_code_format.md
  specification/attributes/datetime_format.md
  specification/attributes/null_handling.md
  specification/attributes/numeric_format.md
Labels: spec change, Stage 3: Member review, Squad: 3

#255 FOCUS #242: Creating SKU ID based on work done by @arrarama
  specification/dimensions/dimensions.mdpp
  specification/dimensions/skuid.md
  supporting_content/dimensions/skuid.md
Labels: spec change, Stage 3: Member review, Squad: 3

#244 FOCUS #243: SKU Price ID Dimension
  specification/attributes/column_naming_convention.md
  specification/dimensions/dimensions.mdpp
  specification/dimensions/skupriceid.md
  supporting_content/dimensions/skupriceid.md
Labels: spec change, Stage 3: Member review, Squad: 3

#186 FOCUS #182: Usage Quantity
  specification/dimensions/chargefrequency.md
  specification/dimensions/dimensions.mdpp
  specification/dimensions/usagequantity.md
  supporting_content/dimensions/usagequantity.md
Labels: spec change, Stage 3: Member review, Squad: 3

#218 FOCUS #223: Charge Subcategory column
  specification/dimensions/chargesubcategory.md
  specification/dimensions/dimensions.mdpp
  supporting_content/dimensions/chargesubcategory.md
Labels: spec change, Stage 3: Member review, Squad: 2, comments resolved

#240 FOCUS #241: Commitment Discount Type Dimension
  specification/dimensions/commitmentdiscounttype.md
  specification/dimensions/dimensions.mdpp
  supporting_content/dimensions/commitmentdiscountcategory.md
  supporting_content/dimensions/commitmentdiscounttype.md
Labels: spec change, Stage 3: Member review, Squad: 2, comments resolved

#235 FOCUS #174: List Cost metric
  specification/metrics/billedcost.md
  specification/metrics/effectivecost.md
  specification/metrics/listcost.md
  specification/metrics/metrics.mdpp
  supporting_content/metrics/listcost.md
Labels: spec change, Stage 3: Member review, Squad: 1, comments resolved

#263 Standardize on "row"
  specification/dimensions/chargedescription.md
Labels: Stage 3: Member review, comments resolved

#234 FOCUS #231: ListUnitPrice metric review
  specification/metrics/listunitprice.md
  supporting_content/appendix/quantity_driven_pricing_strategies.md
  supporting_content/metrics/listunitprice.md
Labels: spec change, Stage 3: Member review, Squad: 1

#225 FOCUS #165: Pricing Quantity
  specification/metrics/metrics.mdpp
  specification/metrics/pricingquantity.md
  supporting_content/metrics/pricingquantity.md
Labels: spec change, Stage 3: Member review, Squad: 1

#269 Region should be nullable
  specification/dimensions/region.md
  supporting_content/dimensions/region.md
Labels: spec change, Stage 3: Member review, comments resolved

#184 FOCUS #181: Usage Unit Dimension
  specification/attributes/attributes.mdpp
  specification/attributes/unit_format.md
  specification/dimensions/dimensions.mdpp
  specification/dimensions/usageunit.md
  supporting_content/dimensions/usageunit.md
Labels: spec change, Stage 3: Member review, Squad: 3

#179 FOCUS #169: Pricing Unit Dimension
  specification/dimensions/dimensions.mdpp
  specification/dimensions/pricingunit.md
  supporting_content/dimensions/pricingunit.md
Labels: spec change, Stage 3: Member review, Squad: 1

#258 FOCUS #257: FinOps Principles Refresh
  specification/attributes/column_naming_convention.md
  specification/overview.md
  specification/versions/candidate_release.md
  specification/versions/main.md
  specification/versions/working_draft.md
Labels: spec change, Stage 3: Member review

#252 FOCUS #252: Identifying custom columns
  specification/attributes/column_naming_convention.md
  specification/attributes/currency_code_format.md
  specification/attributes/datetime_format.md
  specification/attributes/null_handling.md
  supporting_content/attributes/column_naming_convention.md
Labels: spec change, Stage 3: Member review, Squad: 2, comments resolved

#274 Remove pricing model from wd chargetype
  specification/attributes/column_naming_convention.md
  supporting_content/columns/chargetype.md
Labels: comments resolved

#229 FOCUS #157: Discount Handling attribute
  specification/attributes/attributes.mdpp
  specification/attributes/discount_handling.md
  supporting_content/attributes/discount_handling.md
Labels: spec change, Stage 3: Member review, Squad: 2, comments resolved

#214 FOCUS #161: Pricing Category column
  specification/columns/columns.mdpp
  specification/columns/pricingcategory.md
  supporting_content/columns/pricingcategory.md
Labels: spec change, Stage 3: Member review, Squad: 2, comments resolved

#268 FOCUS #262: Update glossary
  specification/glossary.md
Labels: Stage 2: Maintainer review, Squad: 4

#278 Markdown conversion of the use case library developed by the FOCUS practitioner group.
  specification/spec.mdpp
  specification/use_case_library.md
Labels: spec change, Stage 3: Member review

#281 Glossary hyperlinks - final merge
  specification/attributes/column_naming_convention.md
  specification/attributes/currency_code_format.md
  specification/attributes/datetime_format.md
  specification/attributes/discount_handling.md
  specification/attributes/key_value_format.md
  specification/attributes/null_handling.md
  specification/attributes/numeric_format.md
  specification/attributes/unit_format.md
  specification/columns/availabilityzone.md
  specification/columns/billedcost.md
  specification/columns/billingaccountid.md
  specification/columns/billingaccountname.md
  specification/columns/billingcurrency.md
  specification/columns/billingperiodend.md
  specification/columns/billingperiodstart.md
  specification/columns/chargecategory.md
  specification/columns/chargedescription.md
  specification/columns/chargefrequency.md
  specification/columns/chargeperiodend.md
  specification/columns/chargeperiodstart.md
  specification/columns/chargesubcategory.md
  specification/columns/commitmentdiscountcategory.md
  specification/columns/commitmentdiscountid.md
  specification/columns/commitmentdiscountname.md
  specification/columns/commitmentdiscounttype.md
  specification/columns/effectivecost.md
  specification/columns/invoiceissuer.md
  specification/columns/listcost.md
  specification/columns/pricingcategory.md
  specification/columns/pricingquantity.md
  specification/columns/pricingunit.md
  specification/columns/provider.md
  specification/columns/publisher.md
  specification/columns/region.md
  specification/columns/resourceid.md
  specification/columns/resourcename.md
  specification/columns/resourcetype.md
  specification/columns/servicecategory.md
  specification/columns/servicename.md
  specification/columns/skuid.md
  specification/columns/skupriceid.md
  specification/columns/subaccountid.md
  specification/columns/subaccountname.md
  specification/columns/tags.md
  specification/columns/usagequantity.md
  specification/columns/usageunit.md
  specification/glossary.md
  specification/overview.md
  supporting_content/attributes/null_handling.md
  supporting_content/columns/chargefrequency.md
  supporting_content/columns/resourcename.md
Labels: spec change, Stage 3: Member review

#283 V1.0 Contributor update
  specification/contributors.md
Labels: spec change, Stage 3: Member review

#289 Alphabetize contributor list
  specification/contributors.md
Labels: repo maintenance
