Repository FinOps-Open-Cost-and-Usage-Spec/FOCUS_Spec, pull requests merged in 2024-04, with the labels that each got.

#364 FOCUS #336: Negotiated/Contracted List Unit Price and Cost
  specification/columns/columns.mdpp
  specification/columns/contractedcost.md
  specification/columns/contractedunitprice.md
  specification/glossary.md
  supporting_content/columns/contractedcost.md
  supporting_content/columns/contractedunitprice.md
Labels: spec change

#396 FOCUS #104: ConsistencyHandling or StringFormat attribute
  specification/attributes/attributes.mdpp
  specification/attributes/column_naming_convention.md
  specification/attributes/currency_code_format.md
  specification/attributes/datetime_format.md
  specification/attributes/key_value_format.md
  specification/attributes/null_handling.md
  specification/attributes/numeric_format.md
  specification/attributes/string_handling.md
  specification/attributes/unit_format.md
  specification/columns/commitmentdiscounttype.md
  specification/columns/regionid.md
  specification/columns/regionname.md
  specification/columns/resourcetype.md
  supporting_content/attributes/string_handling.md
Labels: spec change

#421 Clarify NULL handling for placeholders
  specification/attributes/null_handling.md
Labels: P2

#413 FOCUS #366: SkuId, SkuPriceId, and Pricing-related columns review due to ChargeCategory and ChargeClass cleanup
  CHANGELOG.md
  specification/attributes/discount_handling.md
  specification/columns/chargeclass.md
  specification/columns/contractedcost.md
  specification/columns/contractedunitprice.md
  specification/columns/listcost.md
  specification/columns/listunitprice.md
  specification/columns/pricingcategory.md
  specification/columns/pricingquantity.md
  specification/columns/pricingunit.md
  specification/columns/skuid.md
  specification/columns/skupriceid.md
  specification/columns/usagequantity.md
  specification/columns/usageunit.md
  supporting_content/columns/chargecategory.md
  supporting_content/columns/pricingcategory.md
  supporting_content/columns/skupriceid.md
Labels: spec change

#415 Updated versioning/id approach to metadata
  specification/metadata/data_generator/data_generator.mdpp
  specification/metadata/data_generator/datageneratorversion.md
  specification/metadata/schema/column_definition/column_definition.mdpp
  specification/metadata/schema/column_definition/providertagprefixes.md
  specification/metadata/schema/schema.mdpp
  specification/metadata/schema/schemaid.md
  supporting_content/metadata/metadata.md
Labels: proposal
